<main>
    <section class="first-section">
        <div class="container">
            <div class="title">
                <h1>Our Blog</h1>
            </div>
            <div class="news">
                <div id="n1" class="card news-card">
                    <h3>Pak vs Eng T20 series</h3>
                    <p>
                        The T20 series between two world champions, 
                        <img src="Images/news1.jpg" alt="Article 1" class="news-img"> 
                        Pakistan and England, is going to start soon. 
                        The first T20I between the two teams will be played on 22 May 2024, in Leeds.
                    </p>
                </div>
                <div id="n2" class="card news-card">
                    <h3>UEFA Champions League Final</h3>
                    <p>
                        The UEFA Champions League Final 2024 is set to be played 
                        <img src="Images/news2.jpg" alt="Article 2" class="news-img"> 
                        on 2 June 2024 in London. The two finalists were confirmed as 
                        Borussia Dortmund defeated Paris Saint German in semi final, 
                        and Real Madrid completed another dream comeback to beat 
                        Bayern Munich. Both will face of each other and it is 
                        guaranted to be a spectacle for the fans.
                    </p>
                </div>
                <div id="n3" class="card news-card">
                    <h3>ICC T20 WC 2024</h3>
                    <p>
                        The ICC T20 World Cup 2024 is set to commence from 2 June 2024. 
                        <img src="Images/news3.jpg" alt="Article 3" class="news-img">
                        The countdown for fans has already started. 
                        Warm up fixtures have also been announced. 
                        This will be the biggest T20 World Cup in history featuring 20 teams.
                    </p>
                </div>
                <div id="n4" class="card news-card">
                    <h3>Real Madrid Crowned Laliga Champions</h3>
                    <p>
                        Following their victory against Cadiz and as a result of the match  
                        <img src="Images/news4.jpg" alt="Article 4" class="news-img"> 
                        between Barcelona and Girona in which the latter defeated the last 
                        year champions, Real Madrid have won the Laliga title for record 36th time 
                        in the club's history, which is by far the most for any other Spanish club.
                    </p>
                </div>
                <div id="n5" class="card news-card">
                    <h3>IPL 2024 Playoffs Confirmed</h3>
                    <p>
                        After all the results from last week, the teams are confirmed that 
                        <img src="Images/news5.jpg" alt="Article 5" class="news-img"> 
                        will be contesting for the trophy this year. KKR, RR, and SRH were already 
                        through and after defating CSK in their last group game at home, RCB 
                        becomes the fourth team to qualify for playoffs this year. Note that the 
                        playoffs of IPL will commence from 21 May 2024.
                    </p>
                </div>
                <div id="n6" class="card news-card">
                    <h3>Four Peat Champions: Manchester City</h3>
                    <p>
                        With a comprehensive 3-1 victory over West Ham, Manchester City were  
                        <img src="Images/news6.jpg" alt="Article 6" class="news-img"> 
                        successfull in defending their Premier League title. Moreover, City 
                        became the first team to win the Premier League four times in a row as 
                        Arsenal fell short for second time in 2 years, only by a mere margin of 
                        2 points.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>