<main>
    <section id="about-us" class="first-section">
        <div class="card mt-5 my-form">
            <div class="card-header">
                <h1 class="fs-2">Login</h1>
            </div>
            <div class="card-body">
                <form action="" method="post" id="contactForm">
                    <div class="form-group">
                        <label id="l1" for="email">Email: </label>
                        <input id="email" name="email" class="form" type="email" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group">
                        <label id="l2" for="password">Password: </label>
                        <input id="password" name="password" class="form" type="password" placeholder="Enter your Password" required>
                    </div>
                    <button id="submit" type="submit" class="btn-primary" value="Submit">Submit</button>
                </form>
            </div>
        </div>
    </section>
</main>
