div.container-fluid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.8em;
    background-color: black;
    color: white;
}

div.menu {
    margin-top: 0.7em;
    margin-right: 0;
}

.navbar {
    top: 0;
    color: white;
    background-color: black;
    position: relative;
}

div.menu-div {
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
}

#MyCarousel {
    position: fixed;
    padding-top: 3.8em;
}

@keyframes slide {
    0%   { left: 0; }
    100% { left: -100%; }
}

.carousel-inner {
    position: relative;
    width: 300%;
    animation: slide 5s infinite;
}

li.items {
    display: inline;
}

.carousel-item img {
    width: 1400px;
    height: 700px;
}

#logo {
    width: 75px;
    height: 75px;
}

a.links {
    text-decoration: none;
    color: white;
}

a.links:hover {
    text-decoration: underline;
    color: red;
}

#MyCarousel {
    height: 50em;
    width: 100%;
}

#footer-img {
    width: 50%;
    height: 20em;
    margin: 0;
    padding: 0;
}

footer {
    margin-top: 4em;
    margin-bottom: 0;
    background-color: black;
    overflow: hidden;
}

.foot-div {
    width: 49%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

#f-div1 {
    margin-top: 0;
    align-items: center;
}

#f-div2 {
    padding-top: 3em;
    padding-bottom: 2em;
}

#f-div2 h1, #f-div1 h2, #f-div2 p {
    color: white;
}

#f-div1 h2 {
    padding-left: 2em;
    padding-bottom: 1em;
}

#f-div2 h1 {
    margin-bottom: 1em;
}

#f-div2 a {
    text-decoration: none;
    color: white;
}

#f-div2 a:hover {
    text-decoration: underline;
    color: red;
}

li.social {
    display: inline;
}

.info {
    margin-bottom: 1em;
}

div.socials {
    margin-left: 0;
    padding-left: 0;
}

ul.social-list {
    margin-left: 0;
    padding-left: 0;
}

#twitter {
    margin-left: 0.5em;
}

section.pic {
    margin-top: 3.8em;
    margin-bottom: 1em;
}

#img1 {
    width: 100%;
    height: 40em;
}

#prods {
    padding: 50px 0;
}

.title {
    margin-bottom: 1em;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 1em;
    overflow: hidden;
}

.news-card:hover {
    background-color: blue;
    cursor: pointer;
}

.news-card:hover h3, .news-card:hover p {
    color: white;
}

.product-img {
    max-width: 100%;
    height: 225px;
    border-radius: 5px;
    margin-bottom: 20px;
    object-fit: contain;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #6c757d;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.products-link {
    align-items: center;
    margin-top: 12em;
    margin-left: 2em;
}

#blog {
    padding: 50px 0;
}

.news-img {
    float: right;
    width: 25%;
    height: 180px;
    margin-left: 1em;
}

.articles-link {
    margin-top: 2em;
    margin-left: 32em;
}

.first-section {
    margin-top: 7em;
    margin-bottom: 1em;
}

.category {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

a.category {
    text-decoration: none;
    color: orange;
}

a.category:hover {
    text-decoration: underline;
    color: red;
}

.new-category {
    margin-top: 2em;
    margin-bottom: 2em;
}

.top-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.mybtn {
    background-color: blue;
    color: white;
    border: 2px solid black;
}

.mybtn:hover {
    background-color: red;
}

#back-to-top {
    text-decoration: none;
    color: white;
}

a.link-to-page {
    text-decoration: none;
    color: darkorange;
}

a.link-to-page:hover {
    text-decoration: underline;
    color: red;
    font-size: large;
}
