<footer>
    <div id="f-div1" class="foot-div">
        <img src="Images/Logo.png" alt="Our Logo" id="footer-img">
        <h2>Sports For All</h2>
    </div>
    <div id="f-div2" class="foot-div">
        <div class="info">
            <h1>Company Information</h1>
            <p>Location: 123, Bellingham street, UK</p>
            <p>Contact No: +123 456 789</p>
            <p>Email: sportsforall@spa.com</p>
            <a href="/stories">Check our stories</a>
        </div>
        <div class="socials">
            <ul class="social-list">
                <li class="social"><img src="Images/fb icon.png" id="fb" alt="fb link"></li>
                <li class="social"><img src="Images/insta icon.png" id="insta" alt="insta link" width="35px" height="35px"></li>
                <li class="social"><img src="Images/twitter icon.png" id="twitter" alt="twitter link" width="35px" height="35px"></li>
            </ul>
        </div>
    </div>
</footer>