nav {
    background-color: black;
    color: white;
    height: 4em;
    top: 0;
}

div.card {
    margin: auto;
    width: 60em;
}

input.form {
    width: 55em;
    height: 3em;
}

div.form-group {
    margin-top: 0.5em;
}

label {
    display: block;
}

#message {
    height: 6em;
}

.btn-primary {
    margin-top: 1em;
    background-color: blue;
    color: white;
    border: 2px solid black;
    width: 10em;
    height: 2em;
}

.error {
    display: block !important;
    border: 5px solid red;
    width: 30em;
    height: 3em;
    padding-left: 5em;
    padding-top: 0.3em;
    color: black;
}

#hide {
    display: none;
    margin: auto;
    font-weight: bold;
    color: black;
}

.success {
    display: block !important;
    border: 5px solid green;
    width: 30em;
    height: 3em;
    padding-left: 8em;
    padding-top: 0.3em;
    color: black;
}

#hidden {
    display: none;
    margin: auto;
    font-weight: bold;
    color: black;
}

a.links {
    text-decoration: none;
    color: white;
}

a.links:hover {
    text-decoration: underline;
    color: red;
}

div.container-fluid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.8em;
    background-color: black;
    color: white;
}

div.menu {
    position: fixed;
    top: 1.5em;
    right: 0;
}

.navbar {
    top: 0;
    color: white;
    background-color: black;
    position: relative;
}

div.menu-div {
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
}

li.items {
    display: inline;
}

#logo {
    width: 75px;
    height: 75px;
}

#footer-img {
    width: 50%;
    height: 20em;
    margin: 0;
    padding: 0;
}

footer {
    margin-top: 4em;
    margin-bottom: 0;
    background-color: black;
    overflow: hidden;
}

.foot-div {
    width: 49%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

#f-div1 {
    margin-top: 0 !important;
    align-items: center;
}

#f-div2 {
    padding-top: 3em;
    padding-bottom: 2em;
}

#f-div2 h1, #f-div1 h2, #f-div2 p {
    color: white;
}

#f-div1 h2 {
    padding-left: 2em;
    padding-bottom: 1em;
}

#f-div2 h1 {
    margin-bottom: 1em;
}

#f-div2 a {
    text-decoration: none;
    color: white;
}

#f-div2 a:hover {
    text-decoration: underline;
    color: red;
}
