body {
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5%;
    margin-right: 5%;
}

header {
    text-align: center;
}

h1 {
    font-size: 3.0em;
}

p {
    color: black;
    font-size: 1.25em;
}

img {
    border-radius: 100%;
}

div.info{
    float: right;
    padding-top: 2em;
}

li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
}

table, th, td {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

th, td {
    background-color: aliceblue;
    text-align: left;
}

table {
    width: 50%;
}

div.content {
    margin-top: 2em;
    margin-bottom: 3em;
}