body {
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    margin: 2% 10%;
    border: 3px solid black;
}

header {
    text-align: center;
    margin-bottom: 0em;
    padding-bottom: 0%;
}

h1 {
    font-size: 3.0em;
}

p {
    color: black;
    font-size: 1.25em;
}

img {
    border-radius: 100%;
}

progress {
    border: 0px solid;
}

progress::-webkit-progress-bar {
    background-color: white;
}

progress::-webkit-progress-value {
    background-color: darkturquoise;
}

a:hover {
    color: red;
}

#s1 {
    margin-left: 5em;
}

#s2 {
    margin-left: 4.25em;
}

#s3 {
    margin-left: 5.3em;
}

#s4 {
    margin-left: 5.3em;
}

#s5 {
    margin-left: 2.9em;
}

#s6 {
    margin-left: 4.4em;
}

#s7 {
    margin-left: 4.2em;
}

#s8 {
    margin-left: 4.8em;
}

div.info {
    float: right;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: -1.4em;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: 0;
    overflow: hidden;
    border-left: 2px solid black;
    background-color: #3a7eaf;
    color: white;
}

div.pic{
    margin: auto;
    width: fit-content;
}

div.profiles {
    padding-top: 0.1em;
}

div.text p {
    color: white;
}

div.prof {
    display: inline;
    transition: transform 2s;
}

div.prof img:hover {
    transform: scale(1.5);
}

div.content {
    padding-left: 2em;
    padding-bottom: 3em;
}

.p1 {
    animation: load1 3s normal forwards;
    text-align: center;
    height: 20px;
    width: 0px;
}
  
@keyframes load1 {
    0% { width: 0; }
    100% { width: 20%; }
}

.p2 {
    animation: load2 3s normal forwards;
    text-align: center;
    height: 20px;
    width: 0px;
}

@keyframes load2 {
    0% { width: 0; }
    100% { width: 20%; }
}

.p3 {
    animation: load3 3s normal forwards;
    text-align: center;
    height: 20px;
    width: 0px;
}

@keyframes load3 {
    0% { width: 0; }
    100% { width: 20%; }
}

.p4 {
    animation: load4 3s normal forwards;
    text-align: center;
    height: 20px;
    width: 0px;
}

@keyframes load4 {
    0% { width: 0; }
    100% { width: 20%; }
}

.p5 {
    animation: load5 3s normal forwards;
    text-align: center;
    height: 20px;
    width: 0px;
}

@keyframes load5 {
    0% { width: 0; }
    100% { width: 20%; }
}

.p6 {
    animation: load6 3s normal forwards;
    text-align: center;
    height: 20px;
    width: 0px;
}

@keyframes load6 {
    0% { width: 0; }
    100% { width: 20%; }
}

.p7 {
    animation: load7 3s normal forwards;
    text-align: center;
    height: 20px;
    width: 0px;
}

@keyframes load7 {
    0% { width: 0; }
    100% { width: 20%; }
}

.p8 {
    animation: load8 3s normal forwards;
    text-align: center;
    height: 20px;
    width: 0px;
}

@keyframes load8 {
    0% { width: 0; }
    100% { width: 20%; }
}

li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
}

table, th, td {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

th, td {
    text-align: left;
}

th {
    background-color: #2F5A78;
    color: white;
}

tr:nth-child(even) {
    background-color: #438abd;
}

tr:nth-child(odd) {
    background-color: #5dbce2;
}

table {
    width: 50%;
}