<main>
    <div class="top-button">
        <button class="mybtn"><a href="#" id="back-to-top">Back To Top</a></button>
    </div>
    <section id="full-products" class="first-section">
        <div class="container">
            <div class="title">
                <h1>All Products</h1>
                <p>
                    Categories: 
                    <a href="#cricket" class="category">Cricket</a>
                    <a href="#football" class="category">Football</a>
                    <a href="#tennis" class="category">Tennis</a>
                    <a href="#badminton" class="category">Badminton</a>
                    <a href="#basketball" class="category">Basketball</a>
                    <a href="#volleyball" class="category">Volleyball</a>
                </p>
            </div>
            <div class="products">
                <div class="card">
                    <img src="Images/bat.jpg" alt="Cricket Bat" class="product-img">
                    <h3>Cricket Bat</h3>
                    <p>$10.99</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
                <div class="card">
                    <img src="Images/football.jpg" alt="Football" class="product-img">
                    <h3>Foot Ball</h3>
                    <p>$4.99</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
                <div class="card">
                    <img src="Images/helmet.jpg" alt="Cricket Helmet" class="product-img">
                    <h3>Cricket Helmet</h3>
                    <p>$8.99</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
                <div class="card">
                    <img src="Images/football boots.jpg" alt="Football Boots" class="product-img">
                    <h3>Football Boots</h3>
                    <p>$5.99</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
                <div class="card">
                    <img src="Images/cricket gloves.jpg" alt="Cricket Gloves" class="product-img">
                    <h3>Cricket Gloves</h3>
                    <p>$7.49</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
                <div class="card">
                    <img src="Images/tennis racket.jpg" alt="Tennis Racket" class="product-img">
                    <h3>Tennis Racket</h3>
                    <p>$20.00</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
                <div class="card">
                    <img src="Images/cricket ball.jpg" alt="Cricket Ball" class="product-img">
                    <h3>Cricket Ball</h3>
                    <p>$7.49</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
                <div class="card">
                    <img src="Images/badminton racket.jpg" alt="Badminton Racket" class="product-img">
                    <h3>Badminton Racket</h3>
                    <p>$6.49</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
                <div class="card">
                    <img src="Images/tennis ball.jpg" alt="Tennis Ball" class="product-img">
                    <h3>Tennis Ball</h3>
                    <p>$1.99</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
                <div class="card">
                    <img src="Images/shuttle.jpg" alt="Badminton Shuttle" class="product-img">
                    <h3>Badminton Shuttle</h3>
                    <p>$2.49</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
                <div class="card">
                    <img src="Images/basketball.jpg" alt="Basket Ball" class="product-img">
                    <h3>Basket Ball</h3>
                    <p>$4.99</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
                <div class="card">
                    <img src="Images/volley ball.jpg" alt="Volley Ball" class="product-img">
                    <h3>Volley Ball</h3>
                    <p>$9.99</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
            </div>
        </div>
    </section>
    <section id="cricket" class="new-category">
        <div class="container">
            <div class="title">
                <h1>Cricket Products</h1>
            </div>
            <div class="products">
                <div class="card">
                    <img src="Images/bat.jpg" alt="Cricket Bat" class="product-img">
                    <h3>Cricket Bat</h3>
                    <p>$10.99</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
                <div class="card">
                    <img src="Images/helmet.jpg" alt="Cricket Helmet" class="product-img">
                    <h3>Cricket Helmet</h3>
                    <p>$8.99</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
                <div class="card">
                    <img src="Images/cricket gloves.jpg" alt="Cricket Gloves" class="product-img">
                    <h3>Cricket Gloves</h3>
                    <p>$7.49</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
                <div class="card">
                    <img src="Images/cricket ball.jpg" alt="Cricket Ball" class="product-img">
                    <h3>Cricket Ball</h3>
                    <p>$7.49</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
            </div>
        </div>
    </section>
    <section id="football" class="new-category">
        <div class="container">
            <div class="title">
                <h1>Football Products</h1>
            </div>
            <div class="products">
                <div class="card">
                    <img src="Images/football.jpg" alt="Football" class="product-img">
                    <h3>Foot Ball</h3>
                    <p>$4.99</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
                <div class="card">
                    <img src="Images/football boots.jpg" alt="Football Boots" class="product-img">
                    <h3>Football Boots</h3>
                    <p>$5.99</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
            </div>
        </div>
    </section>
    <section id="tennis" class="new-category">
        <div class="container">
            <div class="title">
                <h1>Tennis Products</h1>
            </div>
            <div class="products">
                <div class="card">
                    <img src="Images/tennis racket.jpg" alt="Tennis Racket" class="product-img">
                    <h3>Tennis Racket</h3>
                    <p>$20.00</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
                <div class="card">
                    <img src="Images/tennis ball.jpg" alt="Tennis Ball" class="product-img">
                    <h3>Tennis Ball</h3>
                    <p>$1.99</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
            </div>
        </div>
    </section>
    <section id="badminton" class="new-category">
        <div class="container">
            <div class="title">
                <h1>Badminton Products</h1>
            </div>
            <div class="products">
                <div class="card">
                    <img src="Images/badminton racket.jpg" alt="Badminton Racket" class="product-img">
                    <h3>Badminton Racket</h3>
                    <p>$6.49</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
                <div class="card">
                    <img src="Images/shuttle.jpg" alt="Badminton Shuttle" class="product-img">
                    <h3>Badminton Shuttle</h3>
                    <p>$2.49</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
            </div>
        </div>
    </section>
    <section id="basketball" class="new-category">
        <div class="container">
            <div class="title">
                <h1>Basketball Products</h1>
            </div>
            <div class="products">
                <div class="card">
                    <img src="Images/basketball.jpg" alt="Basket Ball" class="product-img">
                    <h3>Basket Ball</h3>
                    <p>$4.99</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
            </div>
        </div>
    </section>
    <section id="volleyball" class="new-category">
        <div class="container">
            <div class="title">
                <h1>Volleyball Products</h1>
            </div>
            <div class="products">
                <div class="card">
                    <img src="Images/volley ball.jpg" alt="Volley Ball" class="product-img">
                    <h3>Volley Ball</h3>
                    <p>$9.99</p>
                    <button class="mybtn">Add to Cart</button>
                </div>
            </div>
        </div>
    </section>
</main>