<main>
    <section id="about-us" class="first-section">
        <div class="container">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="description">
                <p>
                    Welcome to Sports For All, your ultimate destination for all things sports. 
                    Established with a passion for promoting an active and healthy lifestyle, 
                    our store offers a wide range of high-quality sports equipment, apparel, 
                    and accessories to cater to athletes of all levels. From cricket bats and 
                    footballs to fitness gear and outdoor adventure supplies, we ensure that 
                    every product meets the highest standards of quality and performance. 
                    Our mission is to provide sports enthusiasts with the best tools to pursue 
                    their passions and achieve their fitness goals.
                </p>
                <p>
                    At Sports For All, we believe that sports are more than just activities; 
                    they are a way of life. In addition to our extensive product range, 
                    we are dedicated to keeping our community informed and inspired through 
                    our comprehensive news center. Stay updated with the latest sports news, 
                    event coverage, and expert insights from around the world. Whether it's 
                    the excitement of a cricket series, the thrill of a football match, 
                    or the anticipation of global sports events like the ICC T20 World Cup, 
                    we bring you all the action and stories that matter. Join us in celebrating 
                    the spirit of sportsmanship and the joy of athletic pursuits. Welcome to the 
                    Sports For All family, where your passion for sports finds its perfect match.
                </p>
            </div>
        </div>
    </section>
</main>
