<main>
    <section class="first-section">
        <div class="card mt-5 my-form">
            <div class="card-header">
                <h1 class="fs-2">Contact Us</h1>
            </div>
            <div class="card-body">
                <form id="contactForm">
                    <div class="form-group">
                        <label id="l1" for="name">Name: </label>
                        <input id="name" class="form" type="text" placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                        <label id="l2" for="email">Email: </label>
                        <input id="email" class="form" type="text" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label id="l3" for="message">Message: </label>
                        <input id="message" class="form" type="text" placeholder="Enter your message">
                    </div>
                    <button id="submit" type="submit" class="btn-primary" value="Submit">Submit</button>
                </form>
            </div>
            <div id="hide">
                <p id="err-txt">Invalid Entry. Please Enter Data Correctly.</p>
            </div>
            <div id="hidden">
                <p id="suc-txt">Form Submitted Successfully.</p>
            </div>
        </div>
    </section>
</main>